html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigate {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
}
.navigate_display_desktop .navigate__emblema {
  margin-left: 5px;
  width: 10%;
}
.navigate_display_small .navigate__emblema {
  margin-left: 10px;
  width: 15%;
}
.navigate .navigate__emblema {
  fill: white;
  height: 34px;
  margin-right: 5px;
}
.navigate__list {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.navigate__list select {
  background-color: #24292f;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  border: none;
}

.sign-search {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  color: #dbdee0;
}
.sign-search_display_small .sign-search__span {
  width: 40%;
}
.sign-search_display_small .sign-search__svg-min {
  margin-left: 5px;
  fill: white;
}
.sign-search__input {
  width: 50%;
  height: 45%;
  background: #515961;
  border-color: #57606a;
  color: #dbdee0;
  border-radius: 4px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sign-search__input input {
  border: 0;
  background: #515961;
  width: 70%;
  color: #dbdee0;
}
.sign-search__span {
  margin-right: 5px;
}
.sign-search__span_border {
  margin-top: 5px;
  text-align: center;
  height: 30%;
  width: 14%;
  border: #dbdee0 1px solid;
  border-radius: 4px;
  padding-top: 6px;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #24292f;
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 50px;
  height: 550px;
}
.main-form .form-content {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  background: white;
  padding: 30px;
  border-radius: 6px;
}
.main-form__input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: black;
  font-weight: 500;
}
.main-form__input input {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border: #d0d7de 1px solid;
  border-radius: 6px;
}
.main-form__learn-more {
  font-size: 16px;
}
.main-form__learn-more a {
  text-decoration: none;
  color: blue;
}
.main-form__button {
  width: 100%;
  height: 60px;
  color: white;
  background: #49a249;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

.main-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-text__gap {
  height: 100px;
  width: 40%;
}
.main-text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.main-text__h1 {
  color: white;
  font-size: 72px;
  font-weight: 600;
}
.main-text__span {
  margin-top: 10px;
  width: 75%;
  color: #989a9f;
  font-size: 24px;
  font-weight: 400;
}
.main-text__span mark {
  color: white;
  background: 0;
}

.main {
  width: 100vw;
  height: 90vh;
  background: #2d2e39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

/*# sourceMappingURL=app.css.map */
