@import "variables";
@import "reset";
@import "media-query";

body {
  font: {
    family: sans-serif;
    size: 18px;
  }
  color: $white;
}

.header {
  background: $main_color;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .header_list-item {
    display: inline-block;
    margin-left: 20px;
  }

  .header_select {
    background: none;
    font: {
      family: sans-serif;
      size: 18px;
    };
    color: $white;
    border: none;

    .header_list-option {
      background: $main_color;
      border: 1px solid $main_color;
    }
  }

  .header_sign-search {
    margin-right: 20px;

    .header_input {
      border: none;
      border-radius: 5px;
      background: gray;
      width: 200px;
      height: 25px;
    }

    .header_sign-in {
      font-size: 18px;
      height: 25px;
      border: none;
      background: $main_color;
      color: $white;
      margin-left: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .header_sign_up {
      font-size: 18px;
      background: $main_color;
      color: $white;
      margin-left: 10px;
      border: {
        color: $white;
        radius: 5px;
        width: 1px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.body {
  background: $secondary_color;
  width: 100%;
  height: 96vh;
  display: flex;
  justify-content: space-around;

  .body_info {
    width: 45%;
    padding-top: 10vh;
    text-align: center;

    h1 {
      font-size: 36px;
    }

    span {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
      width: 70%;
      font-weight: lighter;
    }
  }

  .body_input {
    width: 30%;
    background: $main_color;
    color: #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    height: max-content;
    padding: 5vh 50px 5vw;
    margin-top: 5vw;

    label {
      margin-bottom: 5px;
    }

    .body_input-username {
      height: 25px;
      margin-bottom: 20px;
      border: {
        width: 1px;
        color: $l_grey;
        radius: 5px;
      }
    }

    .body_input-email {
      height: 25px;
      margin-bottom: 20px;
      border: {
        width: 1px;
        color: $l_grey;
        radius: 5px;
      }
    }

    .body_input-password {
      height: 25px;
      margin-bottom: 20px;
      border: {
        width: 1px;
        color: $l_grey;
        radius: 5px;
      }
    }

    .body_input-submit {
      height: 60px;
      font-size: 16px;
      background: rgb(34, 185, 24);
      border: none;
      margin-top: 20px;
      margin-bottom: 30px;
      border-radius: 5px;
      color: var(--text-color);

      &:hover {
        cursor: pointer;
        background: rgba(109, 231, 86, 0.93);
      }
    }

    span {
      color: $l_grey;
      font-size: 14px;
    }
  }
}
