$main_color: rgba(0, 16, 22, 0.93);
$color_registration: white;
$secondary_color: rgba(0, 24, 31, 0.92);
$white: white;

$l_grey: rgb(169, 169, 169);
$text_color_balck: black;
$text_color_white: white;
$text_color_grey: grey;

$registration_color: green;

$href_color: blue;
