.main-text{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  &__gap{
    width: 40%;
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  &__h1{
    color: $--color-h1-color;
    font-size: 72px;
    font-weight: 600;
  }

  &__span{
    margin-top: 10px;
    width: 75%;
    color: $--color-span-color;
    font-size: 24px;
    font-weight: 400;

    mark{
      color: $--color-mark-color;
      background: 0;
    }
  }
}
