@import "main-form/main-form";
@import "main-text/main-text";

.main{
  width: 100vw;
  background: $--background-main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $--font-family-main-text;
}
