.navigate {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $--color-svg-color;
  font-family: $--font-family-header-text;
  font-size: 14px;

  &_display_desktop{
    .navigate__emblema{
      margin-left: 5px;
      width: 10%;
    }
  }

  &_display_small{
    .navigate__emblema{
      margin-left: 10px;
      width: 15%;
    }
  }

  .navigate__emblema {
    fill: $--color-svg-color;
    height: 34px;
    margin-right: 5px;
  }


  &__list {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    select{
      background-color: $--background-header-color;
      color: $--color-svg-color;
      font-family: $--font-family-header-text;
      font-size: 14px;
      border: none;
    }
  }
}
